.git
.gitignore
.idea
.env
.venv
venv/
__pycache__
*.pyc
*.pyo
*.egg-info
dist/
build/
tests/
myHESPI_ZADANI.md
myhespi-temp/
hespi-output/
results/
*.tif
*.png
*.pt
*.pkl
k8s/
.github/
.dockerignore
Dockerfile
LICENSE
*.md
